Repository the-benchmarker/web-frameworks, pull requests merged in 2018-09, with the labels that each got.

#333 Upgrade spider-gazelle
  crystal/spider-gazelle/Dockerfile
  crystal/spider-gazelle/shard.yml
  crystal/spider-gazelle/src/app.cr
Labels: language:crystal

#340 Introduce prism
  crystal/prism/Dockerfile
  crystal/prism/server.cr
  crystal/prism/shard.yml
  neph.yaml
  tools/src/benchmarker.cr
Labels: language:crystal

#344 Use pypi version of japronto
  python/japronto/requirements.txt
Labels: language:python

#347 Update kemal
  crystal/kemal/shard.yml
Labels: language:crystal

#350 adding aiohttp
  .travis.yml
  neph.yaml
  python/aiohttp/Dockerfile
  python/aiohttp/requirements.txt
  python/aiohttp/server.py
  tools/src/benchmarker.cr
Labels: language:python

#351 adding quart
  neph.yaml
  python/quart/Dockerfile
  python/quart/requirements.txt
  python/quart/server.py
  tools/src/benchmarker.cr
Labels: in-review, language:python

#353 scala/akkahttp: Running outside of sbt
  scala/akkahttp/Dockerfile
Labels: in-review, language:scala

#330 Show a simple ranking
  tools/src/benchmarker.cr
  tools/src/client.cr
Labels: display, in-review, language:crystal

#352 Patch meiheld
  python/bottle/server.py
  python/flask/server.py
Labels: in-review, language:python

#359 Add http4s
  neph.yaml
  scala/http4s/.gitignore
  scala/http4s/Dockerfile
  scala/http4s/build.sbt
  scala/http4s/project/assembly.sbt
  scala/http4s/project/build.properties
  scala/http4s/src/main/scala/the/benchmarker/http4s/HelloWorldServer.scala
  scala/http4s/src/main/scala/the/benchmarker/http4s/HelloWorldService.scala
  tools/src/benchmarker.cr
Labels: in-review, language:scala

#364 Update nephp to 0.2.6
  .travis.yml
  neph.yaml
  shard.yml
Labels: in-review, language:crystal

#365 Use stderr instead of file
  tools/pipeline.lua
  tools/pipeline_post.lua
  tools/src/client.cr
Labels: in-review, language:crystal

#366 [Japronto] Support multicore
  python/japronto/Dockerfile
  python/japronto/server.py
Labels: in-review, language:python

#367 Use the latest koa (2.5.3)
  node/koa/package.json
Labels: dependencies, language:javacsript

#369 Fix php builds
  php/laravel/Dockerfile
  php/symfony/Dockerfile
Labels: language:php

#377 update go framework version.
  go/echo/Dockerfile
  go/fasthttprouter/Dockerfile
  go/gin/Dockerfile
  go/gorilla-mux/Dockerfile
  go/iris/Dockerfile
Labels: language:go

#385 Upgrade to kitura 2.5
  swift/kitura/Dockerfile
  swift/kitura/Package.swift
  swift/kitura/Sources/main.swift
  swift/kitura/main.swift
Labels: language:swift

#317 Display version on results
  FRAMEWORKS.yml
  README.md
  crystal/lucky/shard.yml
  nim/mofuw/Dockerfile
  node/express/package.json
  node/polka/package.json
  node/rayo/package.json
  node/restify/package.json
  php/symfony/config/bundles.php
  php/symfony/src/Controller/ApplicationController.php
  python/tornado/requirements.txt
  python/vibora/requirements.txt
  ruby/flame/Gemfile
  ruby/hanami/Gemfile
  ruby/rack-routing/Gemfile
  ruby/rails/Gemfile
  ruby/roda/Gemfile
  ruby/sinatra/Gemfile
  tools/src/benchmarker.cr
Labels: in-review
