Repository the-benchmarker/web-frameworks, pull requests merged in 2018-12, with the labels that each got.

#719 Spider-Gazelle update
  FRAMEWORKS.yml
  crystal/spider-gazelle/shard.yml
Labels: in-review, language:crystal

#737 Introduce Onyx::REST
  .travis.yml
  FRAMEWORKS.yml
  README.md
  crystal/onyx/Dockerfile
  crystal/onyx/shard.yml
  crystal/onyx/src/server.cr
  neph.yaml
Labels: in-progress, language:crystal

#742 Use gunicorn with tornado
  python/tornado/Dockerfile
  python/tornado/requirements.txt
  python/tornado/server.py
Labels: in-review, language:python
