Repository the-benchmarker/web-frameworks, pull requests merged in 2018-11, with the labels that each got.

#547 adding starlette
  .travis.yml
  FRAMEWORKS.yml
  neph.yaml
  python/starlette/Dockerfile
  python/starlette/requirements.txt
  python/starlette/server.py
Labels: in-review, language:python

#552 Add Agoo framework
  .travis.yml
  FRAMEWORKS.yml
  dependencies.yml
  neph.yaml
  ruby/agoo/Dockerfile
  ruby/agoo/Gemfile
  ruby/agoo/app.rb
Labels: in-review, language:ruby

#557 update router.cr for improved performance
  FRAMEWORKS.yml
  crystal/router.cr/Dockerfile
  crystal/router.cr/shard.yml
Labels: in-review, language:crystal

#556 Add lumen
  .travis.yml
  FRAMEWORKS.yml
  neph.yaml
  php/lumen/Dockerfile
  php/lumen/app/Exceptions/Handler.php
  php/lumen/app/Http/Controllers/ApplicationController.php
  php/lumen/app/Http/Controllers/UserController.php
  php/lumen/bootstrap/app.php
  php/lumen/composer.json
  php/lumen/public/index.php
  php/lumen/routes/web.php
Labels: language:php, pending

#592 Avoid unecessary builds
  .ci/has_to_run.sh
  .ci/lint.sh
  .travis.yml
Labels: ci

#601 Update to starlette 0.7.4
  python/starlette/requirements.txt
Labels: dependencies, language:python, pending

#600 Upgrade uvicorn
  python/quart/requirements.txt
  python/responder/requirements.txt
  python/starlette/requirements.txt
Labels: dependencies, language:python, pending

#610 Update maven
  .ci/preflight.sh
  java/act/Dockerfile
Labels: language:java

#613 Update foxify
  .travis.yml
  FRAMEWORKS.yml
  neph.yaml
  node/foxify/package.json
Labels: language:javacsript

#602 Multiple jobs
  README.md
  shard.yml
Labels: dependencies, language:crystal, pending

#623 Introduce restana
  .jshintrc
  .travis.yml
  FRAMEWORKS.yml
  neph.yaml
  node/restana/Dockerfile
  node/restana/app.js
  node/restana/package.json
Labels: in-progress, language:javacsript

#625 fix node version in display
  FRAMEWORKS.yml
Labels: display, language:javacsript

#627 Update quart to 0.8.10
  python/quart/requirements.txt
Labels: language:python

#620 Use Agoo 2.5.5
  README.md
  ruby/agoo/Gemfile
  ruby/agoo/app.rb
Labels: in-review, language:ruby

#636 Roda 3.14
  FRAMEWORKS.yml
  ruby/roda/Gemfile
Labels: language:ruby

#635 Update iris to 11.1
  FRAMEWORKS.yml
  go/iris/go.mod
Labels: language:go

#638 Uvicorn 0.3.21
  python/quart/requirements.txt
  python/responder/requirements.txt
  python/starlette/requirements.txt
Labels: language:python

#640 Muxie 1.0.6
  go/muxie/go.mod
Labels: language:go

#643 Add a web server setting in main.go
  go/gf/main.go
Labels: language:go, pending
