Repository the-benchmarker/web-frameworks, pull requests merged in 2019-12, with the labels that each got.

#2024 feat(onyx): Add build flags
  crystal/Dockerfile
  crystal/onyx/config.yaml
  tools/src/make.cr
Labels: docker, language:crystal

#1951 [Python] Upgrade containers to 3.8
  .dependabot/config.yml
  python/Dockerfile
  python/cherrypy/requirements.txt
  python/config.yaml
  tools/src/make.cr
Labels: language:python

#2026 add one frameworks
  .travis.yml
  php/one-fpm/.gitignore
  php/one-fpm/App/Config/cache.php
  php/one-fpm/App/Config/config.php
  php/one-fpm/App/Config/crypt.php
  php/one-fpm/App/Config/exception.php
  php/one-fpm/App/Config/log.php
  php/one-fpm/App/Config/router.php
  php/one-fpm/App/Controllers/IndexController.php
  php/one-fpm/App/config.php
  php/one-fpm/App/index.php
  php/one-fpm/composer.json
  php/one-fpm/config.yaml
  php/one-fpm/public/.htaccess
  php/one-fpm/public/index.php
Labels: language:php

#1941 [PHP] Add workerman
  .dependabot/config.yml
  .travis.yml
  php/Dockerfile
  php/workerman/composer.json
  php/workerman/config.yaml
  php/workerman/start.php
  tools/src/make.cr
Labels: language:php

#1944 [PHP] add Ubiquity
  .dependabot/config.yml
  .travis.yml
  format.yaml
  java/micronaut/src/main/java/micronaut/controller/BenchController.java
  java/spring-framework/src/main/java/benchmark/springframework/BenchmarkController.java
  java/spring-framework/src/main/java/benchmark/springframework/WebAppInitializer.java
  java/spring-framework/src/main/java/benchmark/springframework/WebConfiguration.java
  javascript/0http/app.js
  javascript/express/app.js
  javascript/fastify/app.js
  javascript/foxify/app.js
  javascript/hapi/app.js
  javascript/iotjs-express/app.js
  javascript/koa/app.js
  javascript/moleculer/app.js
  javascript/muneem/app.js
  javascript/polka/app.js
  javascript/polkadot/app.js
  javascript/rayo/app.js
  javascript/restana/app.js
  javascript/restify/app.js
  javascript/sifrr/app.js
  javascript/turbo_polka/app.js
  php/Dockerfile
  php/ubiquity/app/config/bootstrap.php
  php/ubiquity/app/config/config.php
  php/ubiquity/app/config/routesApp.php
  php/ubiquity/composer.json
  php/ubiquity/config.yaml
  php/ubiquity/index.php
  tools/src/make.cr
Labels: language:php

#2047 [Go] Introduce router
  go/router/config.yaml
  go/router/go.mod
  go/router/main.go
Labels: language:go

#2045 [PHP] Upgrade to 7.4
  php/Dockerfile
  php/config.yaml
Labels: language:php

#2051 Downgrade hyper for gotham
  README.md
  rust/gotham/Cargo.toml
Labels: language:rust

#2052 [Rust] Update to 1.39
  rust/Dockerfile
  rust/config.yaml
Labels: language:rust

#2062 Use SWOOLE_BASE mode
  php/imi/config/config.php
Labels: language:php

#2071 [PHP] Introduce hamlet
  .ci/template.mustache
  .dependabot/config.yml
  .travis.yml
  javascript/nanoexpress-pro/package.json
  javascript/sifrr/package.json
  php/hamlet/composer.json
  php/hamlet/config.yaml
  php/hamlet/public/index.php
  php/hamlet/src/Application.php
  php/hamlet/src/Application/Resources/ApplicationResource.php
  php/hamlet/src/Application/Resources/UserIDResource.php
  php/hamlet/src/Application/Resources/UserResource.php
Labels: language:php
