Repository the-benchmarker/web-frameworks, pull requests merged in 2019-10, with the labels that each got.

#1829 [Ruby] Use a single thread for the server
  ruby/plezi/Dockerfile
Labels: language:ruby

#1826 [Python] Add clastic
  .dependabot/config.yml
  .travis.yml
  README.md
  python/clastic/Dockerfile
  python/clastic/config.yaml
  python/clastic/requirements.txt
  python/clastic/server.py
Labels: language:python, status:pending-approval

#1838 [Python] Re-introduce cylone
  .dependabot/config.yml
  .travis.yml
  README.md
  python/cyclone/Dockerfile
  python/cyclone/config.yaml
  python/cyclone/requirements.txt
  python/cyclone/server.py
Labels: language:python

#1837 [Go] Update atreugo to 9.0
  go/atreugo/go.mod
  go/atreugo/main.go
Labels: language:go

#1845 [Swift] Update kitura
  cpp/drogon/Dockerfile
  swift/kitura-nio/Package.swift
  swift/kitura-nio/config.yaml
  swift/kitura/Package.swift
  swift/kitura/config.yaml
Labels: language:swift

#1846 [Java] Update javalin to 3.5
  java/javalin/config.yaml
  java/javalin/pom.xml
Labels: language:java

#1843 [C] Update kore
  c/kore/Dockerfile
  c/kore/config.yaml
Labels: language:c

#1833 [Ruby] Add camping
  .dependabot/config.yml
  .travis.yml
  ruby/camping/Dockerfile
  ruby/camping/Gemfile
  ruby/camping/app.rb
  ruby/camping/config.ru
  ruby/camping/config.yaml
Labels: language:ruby

#1847 [Crystal] Update lucky to 0.18
  crystal/lucky/.babelrc
  crystal/lucky/.editorconfig
  crystal/lucky/.postcssrc.yml
  crystal/lucky/.travis.yml
  crystal/lucky/Dockerfile
  crystal/lucky/LICENSE
  crystal/lucky/Procfile
  crystal/lucky/Procfile.dev
  crystal/lucky/README.md
  crystal/lucky/brunch-config.js
  crystal/lucky/bs-config.js
  crystal/lucky/config.yaml
  crystal/lucky/config/logger.cr
  crystal/lucky/config/static_file_handler.cr
  crystal/lucky/db/migrations/.keep
  crystal/lucky/shard.yml
  crystal/lucky/spec/spec_helper.cr
  crystal/lucky/spec/support/.keep
  crystal/lucky/src/actions/api_action.cr
  crystal/lucky/src/actions/browser_action.cr
  crystal/lucky/src/actions/errors/show.cr
  crystal/lucky/src/app.cr
  crystal/lucky/src/components/.keep
  crystal/lucky/src/forms/.keep
  crystal/lucky/src/forms/mixins/.keep
  crystal/lucky/src/handlers/.keep
  crystal/lucky/src/models/mixins/.keep
  crystal/lucky/src/pipes/.keep
  crystal/lucky/src/queries/.keep
  crystal/lucky/src/queries/mixins/.keep
  crystal/lucky/src/serializers/.keep
  crystal/lucky/static/assets/images/.keep/.keep
  crystal/lucky/static/css/app.css
  crystal/lucky/static/css/components/.keep
  crystal/lucky/static/css/mixins/.keep
  crystal/lucky/static/css/variables/.keep
  crystal/lucky/tasks.cr
  crystal/lucky/tasks/.keep
Labels: language:crystal

#1842 [C] Update agoo-c to 0.7
  c/agoo-c/Dockerfile
  c/agoo-c/config.yaml
  c/agoo-c/simple.c
Labels: language:c

#1881 Bump gorouter-fasthttp version
  go/gorouter-fasthttp/config.yaml
  go/gorouter-fasthttp/go.mod
  go/gorouter-fasthttp/main.go
Labels: language:go

#1880 Bump gorouter version
  go/gorouter/config.yaml
  go/gorouter/go.mod
Labels: language:go

#1884 [Javascript] Rename hapi package
  node/hapi/app.js
  node/hapi/config.yaml
  node/hapi/package.json
Labels: language:javascript

#1905 [Python] Add nameko
  .dependabot/config.yml
  .travis.yml
  python/nameko/config.yaml
  python/nameko/nameko.yaml
  python/nameko/requirements.txt
  python/nameko/server.py
Labels: language:python

#1885 [Python] Add CherryPy
  python/cherrypy/config.yaml
  python/cherrypy/requirements.txt
  python/cherrypy/server.py
Labels: language:python

#1937 [patch] added webgo
  .dependabot/config.yml
  .travis.yml
  go/webgo/config.yaml
  go/webgo/go.mod
  go/webgo/main.go
Labels: language:go

#1949 Lightweight java
  README.md
  java/Dockerfile
  java/act/config.yaml
Labels: language:java

#1909 [PHP] BasicPHP updated to v0.9.1
  php/Dockerfile
  php/basicphp/config.php
  php/basicphp/controllers/AppController.php
  php/basicphp/controllers/UserController.php
  php/basicphp/functions.php
  php/basicphp/public/index.php
  php/basicphp/routes.php
Labels: language:php

#1912 [JAVA] Add micronaut framework
  .dependabot/config.yml
  .travis.yml
  java/Dockerfile
  java/act/config.yaml
  java/micronaut/.gitignore
  java/micronaut/build.gradle
  java/micronaut/config.yaml
  java/micronaut/gradle.properties
  java/micronaut/gradle/wrapper/gradle-wrapper.jar
  java/micronaut/gradle/wrapper/gradle-wrapper.properties
  java/micronaut/gradlew
  java/micronaut/gradlew.bat
  java/micronaut/micronaut-cli.yml
  java/micronaut/settings.gradle
  java/micronaut/src/main/java/micronaut/Application.java
  java/micronaut/src/main/java/micronaut/controller/BenchController.java
  java/micronaut/src/main/resources/application.yml
  java/micronaut/src/main/resources/logback.xml
  tools/src/make.cr
Labels: language:java

#1955 [C++] Update drogon to 1.0b9
  README.md
  cpp/drogon/config.yaml
Labels: language:cpp

#1943 [Python] Add klein
  .dependabot/config.yml
  .travis.yml
  python/klein/config.yaml
  python/klein/requirements.txt
  python/klein/server.py
Labels: language:python
