Repository the-benchmarker/web-frameworks, pull requests merged in 2019-07, with the labels that each got.

#1540 [Rust] Update gotham to 0.4
  rust/gotham/Cargo.toml
  rust/gotham/config.yaml
Labels: language:rust

#1516 [Python] Introduce blacksheep
  .dependabot/config.yml
  .travis.yml
  README.md
  python/blacksheep/Dockerfile
  python/blacksheep/config.yaml
  python/blacksheep/requirements.txt
  python/blacksheep/server.py
Labels: language:python

#1566 [Swift] Introduce swifter
  .travis.yml
  README.md
  swift/kitura-nio/Package.swift
  swift/kitura/Package.swift
  swift/perfect/Package.swift
  swift/swifter/Dockerfile
  swift/swifter/Package.swift
  swift/swifter/config.yaml
  swift/swifter/main.swift
  swift/vapor/Package.swift
Labels: language:swift

#1581 [Javascript] Adding Moleculer
  .dependabot/config.yml
  .travis.yml
  node/moleculer/Dockerfile
  node/moleculer/app.js
  node/moleculer/config.yaml
  node/moleculer/package.json
Labels: language:javascript

#1590 [Javascript] Add nanoexpress
  .dependabot/config.yml
  node/nanoexpress/Dockerfile
  node/nanoexpress/app.js
  node/nanoexpress/config.yaml
  node/nanoexpress/package.json
Labels: language:javascript

#1567 [PHP] Introduce swoft
  .ci/lint.sh
  .dependabot/config.yml
  .travis.yml
  README.md
  php/swoft/Dockerfile
  php/swoft/app/AutoLoader.php
  php/swoft/app/Exception/Handler/HttpExceptionHandler.php
  php/swoft/app/Http/Controller/ApplicationController.php
  php/swoft/app/bean.php
  php/swoft/bin/bootstrap.php
  php/swoft/bin/swoft
  php/swoft/composer.json
  php/swoft/config.yaml
  php/swoft/config/base.php
Labels: language:php

#1573 [PHP] Added hyperf framework.
  .dependabot/config.yml
  .travis.yml
  php/hyperf/Dockerfile
  php/hyperf/app/Controller/IndexController.php
  php/hyperf/composer.json
  php/hyperf/config.yaml
  php/hyperf/config/autoload/annotations.php
  php/hyperf/config/autoload/commands.php
  php/hyperf/config/autoload/server.php
  php/hyperf/config/config.php
  php/hyperf/config/container.php
  php/hyperf/config/dependencies.php
  php/hyperf/config/routes.php
  php/hyperf/sbin/hyperf.php
  php/hyperf/swoole.ini
Labels: language:php

#1607 [Javascript] Use turbo-way of response on nanoexpress
  node/nanoexpress/app.js
  node/nanoexpress/package.json
Labels: language:javascript
