Repository the-benchmarker/web-frameworks, pull requests merged in 2019-09, with the labels that each got.

#1745 [Python] Remove vibora
  .dependabot/config.yml
  .travis.yml
  README.md
  kotlin/ktor/Dockerfile
  python/vibora/Dockerfile
  python/vibora/config.yaml
  python/vibora/requirements.txt
  python/vibora/server.py
Labels: language:python

#1746 [Ruby] Adds syro to the benchmarks
  .dependabot/config.yml
  .travis.yml
  README.md
  ruby/syro/Dockerfile
  ruby/syro/Gemfile
  ruby/syro/app.rb
  ruby/syro/config.ru
  ruby/syro/config.yaml
Labels: language:ruby

#1753 [Rust] Remove rocket
  .dependabot/config.yml
  .travis.yml
  rust/rocket/Cargo.toml
  rust/rocket/Dockerfile
  rust/rocket/config.yaml
  rust/rocket/src/main.rs
Labels: language:rust

#1761 [Go] Fix gramework build on go 1.13
  go/gramework/go.mod
Labels: language:go

#1762 [PHP] Added imi framework.
  .dependabot/config.yml
  .travis.yml
  php/imi/.gitignore
  php/imi/.runtime/.gitkeep
  php/imi/ApiServer/Controller/IndexController.php
  php/imi/ApiServer/Main.php
  php/imi/ApiServer/config/config.php
  php/imi/Dockerfile
  php/imi/Main.php
  php/imi/composer.json
  php/imi/config.yaml
  php/imi/config/beans.php
  php/imi/config/config.php
Labels: language:php

#1763 optimize imi
  php/imi/config/config.php
Labels: language:php

#1766 [Perl] Add dancer
  .dependabot/config.yml
  .travis.yml
  README.md
  perl/dancer2/Dockerfile
  perl/dancer2/config.yaml
  perl/dancer2/cpanfile
  perl/dancer2/d2app.psgi
Labels: status:consent-given, status:pending-approval

#1750 [Crystal] Introduce toro
  .travis.yml
  README.md
  crystal/toro/Dockerfile
  crystal/toro/config.yaml
  crystal/toro/shard.yml
  crystal/toro/src/toro.cr
  perl/config.yaml
Labels: language:crystal, status:pending-approval

#1757 [Java] Introduce javalin
  README.md
  java/javalin/Dockerfile
  java/javalin/config.yaml
  java/javalin/pom.xml
  java/javalin/src/main/java/benchmark/javalin/Bench.java
Labels: language:java

#1776 [PHP] Adds BasicPHP nano-framework
  .travis.yml
  php/basicphp/Dockerfile
  php/basicphp/config.php
  php/basicphp/config.yaml
  php/basicphp/controllers/AppController.php
  php/basicphp/controllers/UserController.php
  php/basicphp/functions.php
  php/basicphp/public/index.php
  php/basicphp/routes.php
Labels: language:php

#1790 [Python] Add asgineer
  .dependabot/config.yml
  .travis.yml
  python/asgineer/Dockerfile
  python/asgineer/config.yaml
  python/asgineer/requirements.txt
  python/asgineer/server.py
Labels: language:python, status:consent-given, status:pending-approval

#1786 [Nim] Introduce httpbeast
  .dependabot/config.yml
  .travis.yml
  nim/httpbeast/Dockerfile
  nim/httpbeast/config.yaml
  nim/httpbeast/server.nim
  nim/httpbeast/server.nimble
Labels: language:nim, status:pending-approval

#1796 [fsharp] Suave web server
  .dependabot/config.yml
  .travis.yml
  fsharp/config.yaml
  fsharp/suave/Dockerfile
  fsharp/suave/Program.fs
  fsharp/suave/config.yaml
  fsharp/suave/suaveapp.fsproj
Labels: language:fsharp

#1793 [PHP] Introduce spiral
  .dependabot/config.yml
  .travis.yml
  php/spiral/.rr.yaml
  php/spiral/Dockerfile
  php/spiral/app.php
  php/spiral/app/src/App.php
  php/spiral/app/src/Bootloader/RoutesBootloader.php
  php/spiral/app/src/Controller/BenchmarkController.php
  php/spiral/composer.json
  php/spiral/config.yaml
  python/asgineer/server.py
Labels: language:php

#1803 [PHP] Add one framework
  .dependabot/config.yml
  .travis.yml
  php/one/.gitignore
  php/one/App/Client/RpcTcp.php
  php/one/App/Cloud/Actor.php
  php/one/App/Cloud/Client.php
  php/one/App/Cloud/Server.php
  php/one/App/Config/actor.php
  php/one/App/Config/cache.php
  php/one/App/Config/client.php
  php/one/App/Config/cloud.php
  php/one/App/Config/crypt.php
  php/one/App/Config/exception.php
  php/one/App/Config/global_data.php
  php/one/App/Config/log.php
  php/one/App/Config/mysql.php
  php/one/App/Config/protocol.php
  php/one/App/Config/router.php
  php/one/App/Config/rpc.php
  php/one/App/Config/session.php
  php/one/App/Controllers/IndexController.php
  php/one/App/GlobalData/Client.php
  php/one/App/GlobalData/Data.php
  php/one/App/GlobalData/Server.php
  php/one/App/Model/User.php
  php/one/App/Server/AppHttpPort.php
  php/one/App/Server/AppHttpServer.php
  php/one/App/Server/AppTcpPort.php
  php/one/App/Server/AppTcpServer.php
  php/one/App/Server/AppWsServer.php
  php/one/App/Server/RpcHttpPort.php
  php/one/App/Server/RpcHttpServer.php
  php/one/App/Server/RpcTcpPort.php
  php/one/App/Server/RpcTcpServer.php
  php/one/App/Server/RpcTrait.php
  php/one/App/Server/RpcWsServer.php
  php/one/App/View/error.php
  php/one/App/View/exceptions/4000.php
  php/one/App/View/exceptions/404.php
  php/one/App/app.ini
  php/one/App/config.php
  php/one/App/index.php
  php/one/App/public/.htaccess
  php/one/App/public/index.php
  php/one/App/shell.php
  php/one/App/swoole.php
  php/one/Dockerfile
  php/one/composer.json
  php/one/config.yaml
Labels: language:php

#1787 [Ruby] Introduce grape
  .dependabot/config.yml
  .travis.yml
  README.md
  ruby/grape/Dockerfile
  ruby/grape/Gemfile
  ruby/grape/config.ru
  ruby/grape/config.yaml
Labels: language:ruby, status:pending-approval

#1817 [Go] Upgrade gf to 1.9.5
  README.md
  go/gf/go.mod
Labels: language:go

#1816 [PHP] Update imi
  php/hyperf/Dockerfile
  php/imi/Dockerfile
  php/imi/config/config.php
  php/one/Dockerfile
  php/swoft/Dockerfile
Labels: language:php
