Repository the-benchmarker/web-frameworks, pull requests merged in 2019-06, with the labels that each got.

#1428 [Documentation] Ensure all frameworks links are reacheable
  README.md
  tools/src/benchmarker.cr
Labels: language:crystal

#1429 [Python] Update masonite to 2.2.1
  python/masonite/Dockerfile
  python/masonite/config.yaml
  python/masonite/config/auth.py
  python/masonite/config/broadcast.py
  python/masonite/config/cache.py
  python/masonite/config/mail.py
  python/masonite/config/middleware.py
  python/masonite/config/queue.py
  python/masonite/config/session.py
  python/masonite/requirements.txt
  python/masonite/routes/web.py
Labels: language:python

#1434 [Java] Add rapidoid
  .dependabot/config.yml
  .travis.yml
  java/act/Dockerfile
  java/rapidoid/.gitignore
  java/rapidoid/Dockerfile
  java/rapidoid/config.yaml
  java/rapidoid/pom.xml
  java/rapidoid/src/main/java/benchmark/rapidoid/Main.java
  java/rapidoid/src/main/resources/config.yml
  java/spring-boot/.gitignore
  java/spring-boot/Dockerfile
  java/spring-boot/pom.xml
Labels: language:java
