Repository the-benchmarker/web-frameworks, pull requests merged in 2019-05, with the labels that each got.

#1267 Add ktor 1.1.5
  .travis.yml
  FRAMEWORKS.yml
  README.md
  kotlin/ktor/.gitignore
  kotlin/ktor/Dockerfile
  kotlin/ktor/build.gradle
  kotlin/ktor/gradle.properties
  kotlin/ktor/resources/application.conf
  kotlin/ktor/settings.gradle
  kotlin/ktor/src/Application.kt
  neph.yaml
Labels: language:kotlin

#1282 Update to crystal 0.28
  .dependabot/config.yml
  FRAMEWORKS.yml
  crystal/amber/Dockerfile
  crystal/amber/shard.yml
  crystal/amber/src/controllers/application_controller.cr
  crystal/kemal/Dockerfile
  crystal/kemal/shard.yml
  crystal/kemal/src/server.cr
  crystal/lucky/Dockerfile
  crystal/lucky/config/log_handler.cr
  crystal/lucky/config/logger.cr
  crystal/lucky/shard.yml
  crystal/onyx/Dockerfile
  crystal/onyx/shard.yml
  crystal/onyx/src/server.cr
  crystal/orion/Dockerfile
  crystal/orion/shard.yml
  crystal/raze/Dockerfile
  crystal/raze/src/server.cr
  crystal/router.cr/Dockerfile
  crystal/router.cr/shard.yml
  crystal/spider-gazelle/Dockerfile
  crystal/spider-gazelle/shard.yml
  crystal/spider-gazelle/src/config.cr
Labels: language:crystal

#1298 [Python] Update meinheld to 1.0.1
  python/bottle/requirements.txt
  python/django/requirements.txt
  python/falcon/requirements.txt
  python/flask/requirements.txt
  python/hug/requirements.txt
  python/molten/requirements.txt
Labels: language:python

#1316 [Python] Update falcon to 2.0.0
  FRAMEWORKS.yml
  README.md
  python/falcon/requirements.txt
Labels: language:python

#1313 [C] Use gcc 9.1.0
  FRAMEWORKS.yml
  c/agoo-c/Dockerfile
  c/kore/Dockerfile
Labels: language:c

#1318 [Ruby] Use ruby 2.6.3
  ruby/agoo/Dockerfile
  ruby/cuba/Dockerfile
  ruby/flame/Dockerfile
  ruby/hanami/Dockerfile
  ruby/rack-routing/Dockerfile
  ruby/rails/Dockerfile
  ruby/roda/Dockerfile
  ruby/sinatra/Dockerfile
Labels: language:ruby

#1315 [Go] Update to echo 4.1.5
  FRAMEWORKS.yml
  go/echo/go.mod
Labels: language:go

#1314 [PHP] Use symfony 4.2.8
  php/symfony/composer.json
Labels: language:php

#1312 [Go] Update gf to 1.6.11
  go/gf/go.mod
Labels: language:go

#1310 [Nim] Update to 0.19.6 in development
  nim/jester/Dockerfile
  nim/jester/server_nim_jester.nimble
Labels: language:nim

#1309 [PHP] Update laravel to 5.8.17
  php/laravel/composer.json
Labels: language:php

#1328 [Java] Add spring boot
  .dependabot/config.yml
  .travis.yml
  FRAMEWORKS.yml
  java/spring-boot/.gitignore
  java/spring-boot/Dockerfile
  java/spring-boot/pom.xml
  java/spring-boot/src/main/java/benchmark/springboot/BenchmarkApplication.java
  java/spring-boot/src/main/resources/application.properties
  neph.yaml
Labels: language:java

#1321 [Go] Add gorouter
  .dependabot/config.yml
  .travis.yml
  FRAMEWORKS.yml
  go/gorouter/Dockerfile
  go/gorouter/go.mod
  go/gorouter/go.sum
  go/gorouter/main.go
  neph.yaml
Labels: language:go

#1249 [Python] Add masonite
  .dependabot/config.yml
  .travis.yml
  FRAMEWORKS.yml
  neph.yaml
  python/masonite/Dockerfile
  python/masonite/app/http/controllers/PageController.py
  python/masonite/app/http/middleware/AuthenticationMiddleware.py
  python/masonite/app/http/middleware/CsrfMiddleware.py
  python/masonite/app/http/middleware/LoadUserMiddleware.py
  python/masonite/app/http/middleware/VerifyEmailMiddleware.py
  python/masonite/app/providers/.gitignore
  python/masonite/bootstrap/cache/.gitignore
  python/masonite/bootstrap/start.py
  python/masonite/config/__init__.py
  python/masonite/config/application.py
  python/masonite/config/auth.py
  python/masonite/config/broadcast.py
  python/masonite/config/cache.py
  python/masonite/config/database.py
  python/masonite/config/mail.py
  python/masonite/config/middleware.py
  python/masonite/config/packages.py
  python/masonite/config/providers.py
  python/masonite/config/queue.py
  python/masonite/config/session.py
  python/masonite/config/storage.py
  python/masonite/databases/migrations/__init__.py
  python/masonite/databases/seeds/__init__.py
  python/masonite/requirements.txt
  python/masonite/resources/__init__.py
  python/masonite/resources/templates/__init__.py
  python/masonite/routes/web.py
  python/masonite/storage/public/favicon.ico
  python/masonite/storage/public/robots.txt
  python/masonite/storage/static/__init__.py
  python/masonite/storage/uploads/__init__.py
  python/masonite/wsgi.py
Labels: language:python

#1319 [PHP] Update lumen to 5.8.6
  php/lumen/composer.json
Labels: language:php

#1229 [Python] Update bocadillo to 0.15.1
  FRAMEWORKS.yml
  python/bocadillo/requirements.txt
  python/bocadillo/server.py
Labels: language:python

#1344 [Go] Update gin to 1.4
  FRAMEWORKS.yml
Labels: language:go

#1346 [Swift] Update Kitura Dockerfiles to Ubuntu 18.04
  README.md
  swift/kitura-nio/Dockerfile
  swift/kitura/Dockerfile
  swift/kitura/Package.swift
  swift/perfect/Dockerfile
  swift/vapor/Dockerfile
Labels: docker

#1352 [Crystal] Parallel with processes for most in Crystal
  README.md
  crystal/athena/Dockerfile
  crystal/athena/athena.yml
  crystal/athena/shard.yml
  crystal/athena/src/server.cr
  crystal/kemal/src/server.cr
  crystal/orion/server.cr
  crystal/raze/shard.yml
  crystal/raze/src/server.cr
  crystal/router.cr/src/server.cr
Labels: language:crystal

#1368 [Javascript] Add 0http node.js framework
  .dependabot/config.yml
  .travis.yml
  FRAMEWORKS.yml
  README.md
  neph.yaml
  node/0http/Dockerfile
  node/0http/app.js
  node/0http/package.json
Labels: language:javascript
