Repository the-benchmarker/web-frameworks, pull requests merged in 2019-11, with the labels that each got.

#1964 Enable multi manager manifests
  .dependabot/mapping.yaml
  tools/src/make.cr
Labels: language:crystal

#1959 [Go] Add support for the Mars web toolkit
  .dependabot/config.yml
  .travis.yml
  go/Dockerfile
  go/mars/config.yaml
  go/mars/go.mod
  go/mars/main.go
  go/mars/routes.conf
Labels: language:go

#1966 Rename node folder
  .dependabot/config.yml
  .travis.yml
  README.md
  javascript/0http/app.js
  javascript/0http/config.yaml
  javascript/0http/package.json
  javascript/Dockerfile
  javascript/config.yaml
  javascript/express/app.js
  javascript/express/config.yaml
  javascript/express/package.json
  javascript/fastify/app.js
  javascript/fastify/config.yaml
  javascript/fastify/package.json
  javascript/foxify/app.js
  javascript/foxify/config.yaml
  javascript/foxify/package.json
  javascript/hapi/app.js
  javascript/hapi/config.yaml
  javascript/hapi/package.json
  javascript/iotjs-express/app.js
  javascript/iotjs-express/config.yaml
  javascript/iotjs-express/package.json
  javascript/koa/app.js
  javascript/koa/config.yaml
  javascript/koa/package.json
  javascript/moleculer/app.js
  javascript/moleculer/config.yaml
  javascript/moleculer/package.json
  javascript/muneem/app.js
  javascript/muneem/config.yaml
  javascript/muneem/package.json
  javascript/polka/app.js
  javascript/polka/config.yaml
  javascript/polka/package.json
  javascript/polkadot/app.js
  javascript/polkadot/config.yaml
  javascript/polkadot/package.json
  javascript/rayo/app.js
  javascript/rayo/config.yaml
  javascript/rayo/package.json
  javascript/restana/app.js
  javascript/restana/config.yaml
  javascript/restana/package.json
  javascript/restify/app.js
  javascript/restify/config.yaml
  javascript/restify/package.json
  javascript/sifrr/app.js
  javascript/sifrr/config.yaml
  javascript/sifrr/package.json
  javascript/turbo_polka/app.js
  javascript/turbo_polka/config.yaml
  javascript/turbo_polka/package.json
  tools/src/make.cr
Labels: language:javascript

#1960 add merly.jl
  .dependabot/config.yml
  .travis.yml
  go/Dockerfile
  java/Dockerfile
  julia/Dockerfile
  julia/config.yaml
  julia/merly/Manifest.toml
  julia/merly/Project.toml
  julia/merly/config.yaml
  julia/merly/deps.jl
  julia/merly/server.jl
Labels: language:julia

#1983 [Javascript] Add nanoexpress Pro
  .dependabot/config.yml
  javascript/nanoexpress-pro/app.js
  javascript/nanoexpress-pro/config.yaml
  javascript/nanoexpress-pro/package.json
Labels: language:javascript

#1982 [Javascript] Add nanoexpress
  .dependabot/config.yml
  javascript/nanoexpress/app.js
  javascript/nanoexpress/config.yaml
  javascript/nanoexpress/package.json
Labels: language:javascript

#2003 [Python] Remove japronto
  .dependabot/config.yml
  .travis.yml
  python/japronto/config.yaml
  python/japronto/requirements.txt
  python/japronto/server.py
Labels: language:python

#2014 Add Aero
  .travis.yml
  go/aero/config.yaml
  go/aero/go.mod
  go/aero/main.go
Labels: language:go

#2009 Add java spring-framework
  .dependabot/config.yml
  .travis.yml
  java/spring-framework/config.yaml
  java/spring-framework/pom.xml
  java/spring-framework/src/main/java/benchmark/springframework/BenchmarkController.java
  java/spring-framework/src/main/java/benchmark/springframework/WebAppInitializer.java
  java/spring-framework/src/main/java/benchmark/springframework/WebConfiguration.java
Labels: language:java
