Repository the-benchmarker/web-frameworks, pull requests merged in 2019-03, with the labels that each got.

#1010 Upgrade node
  node/express/Dockerfile
  node/fastify/Dockerfile
  node/foxify/Dockerfile
  node/hapi/Dockerfile
  node/koa/Dockerfile
  node/muneem/Dockerfile
  node/polka/Dockerfile
  node/rayo/Dockerfile
  node/restana/Dockerfile
  node/restify/Dockerfile
  node/turbo_polka/Dockerfile
Labels: docker

#1009 Update to rust 1.33
  rust/actix-web/Dockerfile
  rust/gotham/Dockerfile
  rust/iron/Dockerfile
  rust/nickel/Dockerfile
  rust/rocket/Dockerfile
Labels: docker

#1006 Fix go resolver issue
  go/beego/Dockerfile
  go/chi/Dockerfile
  go/chi/go.mod
  go/echo/Dockerfile
  go/fasthttprouter/Dockerfile
  go/gf/Dockerfile
  go/gin/Dockerfile
  go/iris/go.mod
  go/kami/Dockerfile
  go/muxie/Dockerfile
Labels: language:go

#1001 upgrade perfect
  FRAMEWORKS.yml
  swift/kitura/Package.swift
  swift/perfect/Package.swift
  swift/perfect/main.swift
  swift/vapor/Package.swift
Labels: language:swift

#1031 Update symfony
  php/laravel/Dockerfile
  php/lumen/Dockerfile
  php/slim/Dockerfile
  php/symfony/Dockerfile
  php/symfony/composer.json
  php/zend-expressive/Dockerfile
  php/zend-framework/Dockerfile
Labels: language:php

#1033 Updated for Agoo-C v0.4.0
  FRAMEWORKS.yml
  c/agoo-c/Dockerfile
  c/agoo-c/simple.c
Labels: language:c

#1029 Uvicorn 0.5.0
  python/bocadillo/requirements.txt
  python/fastapi/requirements.txt
  python/quart/requirements.txt
  python/starlette/requirements.txt
Labels: language:python

#1054 fix integrity hashes
  go/chi/go.mod
  go/fasthttprouter/go.mod
  go/gin/go.mod
  go/iris/go.mod
  go/kami/go.mod
Labels: language:go

#1083 Upgrade Onyx to 0.3.0
  FRAMEWORKS.yml
  README.md
  crystal/onyx/Dockerfile
  crystal/onyx/shard.yml
  crystal/onyx/src/server.cr
Labels: language:crystal

#1096 Update to restana 2.10
  FRAMEWORKS.yml
  node/restana/app.js
  node/restana/package.json
Labels: language:javascript
