Repository the-benchmarker/web-frameworks, pull requests merged in 2020-05, with the labels that each got.

#2591 [Crystal] Update lucky to 0.21
  crystal/lucky/config.yaml
  crystal/lucky/config/log.cr
  crystal/lucky/config/logger.cr
  crystal/lucky/shard.yml
Labels: language:crystal

#2625 [Crystal] Remove ricr
  .travis.yml
  crystal/ricr/config.yaml
  crystal/ricr/shard.yml
  crystal/ricr/src/server.cr
Labels: language:crystal

#2630 [Go] Update fiber website
  go/fiber/config.yaml
Labels: language:go

#2626 Initial support for java/blade. Addresses #2271.
  .travis.yml
  java/blade/.gitignore
  java/blade/config.yaml
  java/blade/pom.xml
  java/blade/src/main/java/com/example/Application.java
  java/blade/src/main/resources/application.properties
Labels: language:java

#2640 Added Nette framework
  .travis.yml
  php/nette/app/Bootstrap.php
  php/nette/app/Presenters/HomepagePresenter.php
  php/nette/app/Presenters/UserPresenter.php
  php/nette/app/Router/RouterFactory.php
  php/nette/app/config/common.neon
  php/nette/composer.json
  php/nette/config.yaml
  php/nette/public/index.php
Labels: language:php

#2643 Clojure.luminus
  .ci/template.mustache
  .travis.yml
  README.md
  clojure/Dockerfile
  clojure/luminus/.gitignore
  clojure/luminus/config.yaml
  clojure/luminus/env/dev/clj/luminus/dev_middleware.clj
  clojure/luminus/env/dev/clj/luminus/env.clj
  clojure/luminus/env/dev/clj/user.clj
  clojure/luminus/env/dev/resources/config.edn
  clojure/luminus/env/dev/resources/logback.xml
  clojure/luminus/env/prod/clj/luminus/env.clj
  clojure/luminus/env/prod/resources/config.edn
  clojure/luminus/env/prod/resources/logback.xml
  clojure/luminus/env/test/resources/config.edn
  clojure/luminus/env/test/resources/logback.xml
  clojure/luminus/project.clj
  clojure/luminus/resources/docs/docs.md
  clojure/luminus/resources/html/about.html
  clojure/luminus/resources/html/base.html
  clojure/luminus/resources/html/error.html
  clojure/luminus/resources/html/home.html
  clojure/luminus/resources/public/css/screen.css
  clojure/luminus/resources/public/favicon.ico
  clojure/luminus/resources/public/img/warning_clojure.png
  clojure/luminus/src/clj/luminus/config.clj
  clojure/luminus/src/clj/luminus/core.clj
  clojure/luminus/src/clj/luminus/handler.clj
  clojure/luminus/src/clj/luminus/layout.clj
  clojure/luminus/src/clj/luminus/middleware.clj
  clojure/luminus/src/clj/luminus/middleware/formats.clj
  clojure/luminus/src/clj/luminus/nrepl.clj
  clojure/luminus/src/clj/luminus/routes/home.clj
  java/blade/.gitignore
  java/blade/application.yml
  java/blade/config.yaml
  java/blade/src/resources/application.properties
Labels: language:clojure

#2663 Downgrade muuntaja to v0.6.6
  clojure/luminus/project.clj
Labels: language:clojure

#2657 [Pony] Use static compilation
  pony/Dockerfile
Labels: language:pony

#2677 Fix macos
  tools/src/client.cr
  tools/src/db.cr
  tools/src/make.cr
Labels: language:crystal

#2686 [PHP] Add fastsitephp
  php/fastsitephp/composer.json
  php/fastsitephp/config.yaml
  php/fastsitephp/public/index.php
Labels: language:php

#2685 Change worker from non-optimized worker in Sanic
  python/sanic/config.yaml
  python/sanic/requirements.txt
  python/sanic/server.py
Labels: language:python

#2715 Upgrade webgo to v3.4.2
  .github/CODEOWNERS
  go/webgo/config.yaml
  go/webgo/go.mod
Labels: language:go

#2717 [Go] Remove incompatible flag fo chi
  go/chi/go.mod
Labels: language:go

#2687 haskell.servant framework added.
  .ci/template.mustache
  .travis.yml
  haskell/Dockerfile
  haskell/config.yaml
  haskell/servant-proj/.gitignore
  haskell/servant/.gitignore
  haskell/servant/Setup.hs
  haskell/servant/app/Main.hs
  haskell/servant/config.yaml
  haskell/servant/servant-proj.cabal
  haskell/servant/src/Lib.hs
  haskell/servant/stack.yaml
Labels: language:haskell

#2720 Update Fiber to v1.10.1
  go/fiber/config.yaml
  go/fiber/go.mod
  go/fiber/main.go
Labels: language:go

#2716 [Go] Remove extra flags for kami
  go/kami/go.mod
Labels: language:go
