Repository the-benchmarker/web-frameworks, pull requests merged in 2020-04, with the labels that each got.

#2444 [PHP] Update for simps
  php/simps/app/Controller/IndexController.php
  php/simps/config.yaml
  php/simps/config/servers.php
Labels: language:php

#2425 Check for REMOTE_ADDR
  php/basicphp/functions.php
Labels: language:php

#2454 [Crystal] Upgrade to 0.34
  crystal/Dockerfile
  crystal/config.yaml
Labels: language:crystal

#2456 [Crystal] Update amber to 0.34
  crystal/amber/config.yaml
  crystal/amber/shard.yml
Labels: language:crystal

#2481 [Javascript] Upgrade node to 13.12
  .ci/has_to_run.sh
  javascript/Dockerfile
  javascript/config.yaml
Labels: language:javascript

#2478 [Julia] Upgrade containers to v1.4
  julia/Dockerfile
  julia/config.yaml
Labels: language:julia

#2480 [Rust] Upgrade containers to 1.42
  rust/Dockerfile
  rust/config.yaml
Labels: language:rust

#2487 [F#] Upgrade containers to 4.7
  .ci/has_to_run.sh
  fsharp/Dockerfile
Labels: language:fsharp

#2464 Add shivneri framework
  .travis.yml
  crystal/shivneri/config.yaml
  crystal/shivneri/shard.yml
  crystal/shivneri/src/controllers/all.cr
  crystal/shivneri/src/controllers/default_controller.cr
  crystal/shivneri/src/controllers/user_controller.cr
  crystal/shivneri/src/routes.cr
  crystal/shivneri/src/server.cr
Labels: language:crystal

#2498 [Crystal] Update spider-gazelle to 2.4
  crystal/spider-gazelle/config.yaml
  crystal/spider-gazelle/shard.yml
Labels: language:crystal

#2499 [Java] Update javalin to 3.8
  java/javalin/config.yaml
  java/javalin/pom.xml
Labels: language:java

#2500 [Elixir] Use X.Y.Z version
  elixir/cowboy/mix.exs
  elixir/cowboy_stream/mix.exs
  elixir/phoenix/mix.exs
  elixir/plug/config.yaml
  elixir/plug/mix.exs
Labels: language:elixir

#2501 [Swift] Update kitura to 2.9
  swift/kitura-nio/Package.swift
  swift/kitura-nio/config.yaml
  swift/kitura/Package.swift
  swift/kitura/config.yaml
Labels: language:swift

#2503 [Java] Upgrade micronaut to 1.3
  java/micronaut/build.gradle
  java/micronaut/gradle.properties
Labels: language:java

#2505 [Java] Update spring-boot to 2.2
  java/spring-boot/config.yaml
  java/spring-boot/pom.xml
Labels: language:java

#2482 [Swift] Upgrade to 5.2
  swift/Dockerfile
  swift/config.yaml
Labels: language:swift

#2515 Upgrade to gradle 6.3
  java/micronaut/config.yaml
  kotlin/Dockerfile
Labels: language:java, language:kotlin

#2516 [Go] Add tango
  .dependabot/config.yml
  .travis.yml
  go/tango/config.yaml
  go/tango/go.mod
  go/tango/main.go
Labels: language:go

#2514 [PHP] Use phalcon pecl package
  php/phalcon/config.yaml
Labels: language:php

#2526 [Java] Add jooby
  .dependabot/config.yml
  .travis.yml
  format.yaml
  java/jooby/.gitignore
  java/jooby/config.yaml
  java/jooby/pom.xml
  java/jooby/src/main/java/benchmark/App.java
  kotlin/kooby/.gitignore
  kotlin/kooby/build.gradle
  kotlin/kooby/config.yaml
  kotlin/kooby/settings.gradle
  kotlin/kooby/src/main/kotlin/benchmark/App.kt
Labels: language:java, language:kotlin

#2517 [PHP] Add ice
  .dependabot/config.yml
  .travis.yml
  php/hyperf/app/Kernel/FastServer.php
  php/ice/App/Controllers/IndexController.php
  php/ice/composer.json
  php/ice/config.yaml
  php/ice/public/index.php
  php/one/App/swoole.php
Labels: language:php

#2534 [Swift] Upgrade vapor to 4.3
  .travis.yml
  spec/benchmark_spec.cr
  swift/vapor-framework/.gitignore
  swift/vapor-framework/Package.swift
  swift/vapor-framework/config.yaml
  swift/vapor-framework/main.swift
  swift/vapor/Package.swift
  swift/vapor/config.yaml
  swift/vapor/main.swift
  tools/src/make.cr
Labels: language:swift

#2560 Update server.cr
  .ci/template.mustache
  .travis.yml
  crystal/grip/src/server.cr
  spec/benchmark_spec.cr
Labels: language:crystal

#2590 [Crystal] Update spider-gazelle to 3.0
  crystal/spider-gazelle/config.yaml
  crystal/spider-gazelle/shard.yml
Labels: language:crystal

#2589 [Crystal] Update ricr to 0.2
  crystal/ricr/config.yaml
  crystal/ricr/shard.yml
Labels: language:crystal

#2592 Add OSX support
  .ci/has_to_run.sh
  .ci/template.mustache
  .travis.yml
  README.md
  README.mustache.md
  java/jooby/pom.xml
  nim/httpbeast/config.yaml
  spec/benchmark_spec.cr
  tools/src/client.cr
  tools/src/make.cr
Labels: language:crystal

#2611 Disable renovate for javascript, php, elixir
  renovate.json
Labels: language:elixir, language:javascript, language:php

#2609 Add siler
  .dependabot/config.yml
  .travis.yml
  php/siler-swoole/composer.json
  php/siler-swoole/config.yaml
  php/siler-swoole/public/index.php
  php/siler/composer.json
  php/siler/config.yaml
  php/siler/public/index.php
  php/yii-swoole/composer.json
  php/yii-swoole/config.yaml
  php/yii-swoole/config/server.php
  php/yii-swoole/config/swoole.php
  php/yii-swoole/config/web.php
  php/yii-swoole/controllers/SiteController.php
  php/yii-swoole/controllers/UserController.php
  php/yii-swoole/server/bootstrap.php
Labels: language:php
