Repository the-benchmarker/web-frameworks, pull requests merged in 2020-06, with the labels that each got.

#2846 Introduce scotty
  .restyled.yaml
  .travis.yml
  haskell/Dockerfile
  haskell/scotty/.gitignore
  haskell/scotty/Main.hs
  haskell/scotty/config.yaml
  haskell/scotty/server.cabal
  haskell/scotty/stack.yaml
  haskell/servant/Setup.hs
  haskell/servant/server.cabal
  haskell/servant/src/Lib.hs
Labels: language:haskell

#2856 [Go] Upgrade webgo to v4
  go/webgo/config.yaml
  go/webgo/go.mod
  go/webgo/main.go
Labels: language:go

#2867 [Dart] Add start
  .travis.yml
  dart/start/config.yaml
  dart/start/main.dart
  dart/start/pubspec.yaml
Labels: language:dart

#2874 F# Frameworks
  .restyled.yaml
  .travis.yml
  README.md
  fsharp/Dockerfile
  fsharp/falco/Program.fs
  fsharp/falco/config.yaml
  fsharp/falco/web.fsproj
  fsharp/frank/Program.fs
  fsharp/frank/config.yaml
  fsharp/frank/web.fsproj
  fsharp/giraffe/Program.fs
  fsharp/giraffe/config.yaml
  fsharp/giraffe/web.fsproj
  fsharp/suave/Program.fs
  fsharp/suave/web.fsproj
Labels: language:fsharp

#2905 [PHP] Remove redundant config for siler-swoole
  .github/CODEOWNERS
  php/siler-swoole/public/index.php
Labels: language:php

#2888 [F#] WebSharper
  .travis.yml
  fsharp/websharper/Main.fs
  fsharp/websharper/config.yaml
  fsharp/websharper/web.fsproj
Labels: language:fsharp

#2928 [Nim] Add whip
  .github/CODEOWNERS
  .travis.yml
  nim/whip/config.yaml
  nim/whip/server.nim
  nim/whip/server.nimble
Labels: language:nim

#2950 [Julia] Use version interval
  julia/merly/Project.toml
Labels: language:julia

#2953 [Python] Use rust nightly to compile maturin
  python/apidaora/config.yaml
Labels: language:python

#2961 [Go] Add Gearbox
  .travis.yml
  go/gearbox/config.yaml
  go/gearbox/go.mod
  go/gearbox/main.go
Labels: language:go

#2952 [Python] Add Tonberry
  .github/CODEOWNERS
  .travis.yml
  python/tonberry/config.yaml
  python/tonberry/requirements.txt
  python/tonberry/server.py
Labels: language:python

#2970 [Javascript] Remove nanoexpress
  .travis.yml
  README.md
  javascript/nanoexpress/app.js
  javascript/nanoexpress/config.yaml
  javascript/nanoexpress/package.json
Labels: language:javascript

#2981 [C#] Add Simplify.Web #2973
  .travis.yml
  csharp/simplify.web/Controllers/HomeController.cs
  csharp/simplify.web/Controllers/UserController.cs
  csharp/simplify.web/Controllers/UserIdController.cs
  csharp/simplify.web/Program.cs
  csharp/simplify.web/Startup.cs
  csharp/simplify.web/config.yaml
  csharp/simplify.web/web.csproj
Labels: language:csharp

#2951 [Kotlin] Update ktor to 1.3
  kotlin/config.yaml
  kotlin/ktor/build.gradle
Labels: language:kotlin

#2985 [Crystal] Add runcobo
  .github/CODEOWNERS
  .travis.yml
  crystal/runcobo/config.yaml
  crystal/runcobo/shard.yml
  crystal/runcobo/src/server.cr
Labels: language:crystal

#2989 [Nim] Upgrade to 1.2.2
  nim/Dockerfile
Labels: language:nim

#2920 Modify configuration information
  README.md
  php/fastsitephp/public/index.php
  php/hyperf/config/autoload/server.php
  php/imi/config/config.php
  php/one/App/Config/protocol.php
  php/siler-swoole/public/index.php
  php/siler/public/index.php
  php/simps/config/servers.php
  php/sw-fw-less/config/server.php
  php/swoft/app/bean.php
  php/yii-swoole/config/server.php
  php/yii-swoole/config/swoole.php
  php/yii-swoole/server/bootstrap.php
Labels: language:php

#2857 [Nim] Add akane
  .travis.yml
  nim/Dockerfile
  nim/akane/config.yaml
  nim/akane/server.nim
  nim/akane/server.nimble
Labels: language:nim

#3004 [C] Use github to get sources
  README.md
  c/kore/config.yaml
Labels: language:c

#3003 [Ruby] Add pakyow
  .github/CODEOWNERS
  .travis.yml
  README.md
  ruby/pakyow/Gemfile
  ruby/pakyow/backend/controllers/root.rb
  ruby/pakyow/config.yaml
  ruby/pakyow/config/application.rb
  ruby/pakyow/config/environment.rb
Labels: language:ruby

#3033 Add Comet v0.7 into PHP frameworks
  .travis.yml
  php/comet/composer.json
  php/comet/config.yaml
  php/comet/start.php
Labels: language:php

#3037 [PHP] Update chubbyphp to 3.0
  .github/CODEOWNERS
  php/chubbyphp-roadrunner/composer.json
  php/chubbyphp-roadrunner/config.yaml
  php/chubbyphp-roadrunner/public/index.php
  php/chubbyphp/composer.json
  php/chubbyphp/config.yaml
  php/chubbyphp/public/index.php
  tools/src/make.cr
Labels: language:php

#3035 [F#] Update falco
  README.md
  fsharp/falco/Program.fs
  fsharp/falco/config.yaml
  fsharp/falco/web.fsproj
  java/act/pom.xml
Labels: language:fsharp

#3049 [Java] Update act to 1.8.33
  java/act/pom.xml
Labels: language:java

#3048 [F#] Specify version in fsproj definition
  .gitignore
  fsharp/falco/Program.fs
  fsharp/falco/web.fsproj
  fsharp/frank/web.fsproj
  fsharp/giraffe/web.fsproj
  fsharp/saturn/web.fsproj
  fsharp/suave/web.fsproj
  fsharp/websharper/web.fsproj
Labels: language:fsharp

#3065 [PHP] Sunrise Router
  .travis.yml
  php/sunrise-router-annotations/composer.json
  php/sunrise-router-annotations/config.yaml
  php/sunrise-router-annotations/public/index.php
  php/sunrise-router-annotations/src/Controller/HomeController.php
  php/sunrise-router-annotations/src/Controller/User/UserCreateController.php
  php/sunrise-router-annotations/src/Controller/User/UserReadController.php
  php/sunrise-router/composer.json
  php/sunrise-router/config.yaml
  php/sunrise-router/public/index.php
Labels: language:php

#3060 [Crystal] Update Lucky to use 0.23
  crystal/lucky/config.yaml
  crystal/lucky/config/cookies.cr
  crystal/lucky/shard.yml
Labels: language:crystal

#3058 [Crystal] Update orion to 3.0
  .github/CODEOWNERS
  README.md
  crystal/orion/config.yaml
  crystal/orion/server.cr
  crystal/orion/shard.yml
Labels: language:crystal
