Repository the-benchmarker/web-frameworks, pull requests merged in 2020-02, with the labels that each got.

#1961 Add python apidaora
  .ci/template.mustache
  .dependabot/config.yml
  .travis.yml
  README.md
  python/Dockerfile
  python/apidaora/config.yaml
  python/apidaora/requirements.txt
  python/apidaora/server.py
Labels: language:python

#2222 [Go] Update to gorouter 4.2.2
  go/gorouter-fasthttp/go.mod
  go/gorouter-fasthttp/main.go
  go/gorouter/go.mod
Labels: language:go

#2227 Bumb Fiber v1.3.1
  go/fiber/config.yaml
  go/fiber/go.mod
  go/fiber/main.go
Labels: language:go

#2224 Updated the Grip framework to the latest version
  README.md
  crystal/grip/config.yaml
  crystal/grip/shard.yml
  crystal/grip/src/server.cr
  go/fiber/go.mod
Labels: language:crystal

#2236 [C# + F#] Update dot net core v3.1
  csharp/Dockerfile
  csharp/aspnetcore/config.yaml
  csharp/config.yaml
  fsharp/Dockerfile
  fsharp/config.yaml
Labels: language:csharp, language:fsharp

#2235 [Clojure] Use OpenJDK 14
  README.md
  clojure/Dockerfile
  clojure/config.yaml
Labels: language:clojure

#2240 Add Yii PHP framework
  .dependabot/config.yml
  .travis.yml
  php/yii/composer.json
  php/yii/config.yaml
  php/yii/config/web.php
  php/yii/controllers/SiteController.php
  php/yii/controllers/UserController.php
  php/yii/public/index.php
Labels: language:php

#2237 [Java / Kotlin] Update to gradle 6
  README.md
  cpp/drogon/config.json
  java/micronaut/config.yaml
  javascript/0http/app.js
  javascript/0http/package.json
  javascript/express/app.js
  javascript/express/package.json
  javascript/fastify/app.js
  javascript/fastify/package.json
  javascript/foxify/app.js
  javascript/foxify/package.json
  javascript/hapi/app.js
  javascript/hapi/package.json
  javascript/iotjs-express/app.js
  javascript/iotjs-express/package.json
  javascript/koa/app.js
  javascript/koa/package.json
  javascript/moleculer/app.js
  javascript/moleculer/package.json
  javascript/muneem/app.js
  javascript/muneem/package.json
  javascript/nanoexpress/app.js
  javascript/nanoexpress/package.json
  javascript/polka/app.js
  javascript/polka/package.json
  javascript/polkadot/app.js
  javascript/polkadot/package.json
  javascript/rayo/app.js
  javascript/rayo/package.json
  javascript/restana/app.js
  javascript/restana/package.json
  javascript/restify/app.js
  javascript/restify/package.json
  javascript/sifrr/app.js
  javascript/sifrr/package.json
  javascript/turbo_polka/app.js
  javascript/turbo_polka/package.json
  kotlin/Dockerfile
  php/hamlet/composer.json
  php/hyperf/composer.json
  php/imi/composer.json
  php/laravel/composer.json
  php/lumen/composer.json
  php/one-fpm/composer.json
  php/one/composer.json
  php/phalcon/composer.json
  php/slim/composer.json
  php/spiral/composer.json
  php/sw-fw-less/composer.json
  php/swoft/composer.json
  php/symfony/composer.json
  php/ubiquity/composer.json
  php/workerman/composer.json
  php/yii/composer.json
  php/zend-expressive/composer.json
  php/zend-framework/composer.json
Labels: language:java, language:kotlin

#2251 [PHP] Update basicphp to 0.9.3
  README.md
  README.mustache.md
  php/basicphp/app.php
  php/basicphp/functions.php
  php/basicphp/public/index.php
  php/basicphp/routes.php
Labels: language:php

#2280 [Crystal] Upgrade to 0.33
  crystal/Dockerfile
  crystal/config.yaml
  tools/src/db.cr
Labels: language:crystal

#2273 chore(go): add httprouter
  .dependabot/config.yml
  .travis.yml
  go/httprouter/config.yaml
  go/httprouter/go.mod
  go/httprouter/main.go
Labels: language:go

#2285 Ruby 2.7
  ruby/Dockerfile
  ruby/config.yaml
Labels: language:ruby

#2289 [Crystal] Update amber to 0.33
  crystal/amber/config.yaml
  crystal/amber/shard.yml
Labels: language:crystal

#2292 [Go] Update fiber to 1.7.1
  go/fiber/config.yaml
  go/fiber/go.mod
  go/fiber/main.go
Labels: language:go

#2302 [Nim] Remove phoon
  nim/phoon/config.yaml
  nim/phoon/server.nim
  nim/phoon/server.nimble
Labels: language:nim

#2288 hanami-api
  .dependabot/config.yml
  .travis.yml
  README.md
  ruby/Dockerfile
  ruby/hanami-api/Gemfile
  ruby/hanami-api/app.rb
  ruby/hanami-api/config.ru
  ruby/hanami-api/config.yaml
Labels: language:ruby

#2304 [Ruby] Remove plezi
  .dependabot/config.yml
  .travis.yml
  ruby/plezi/Gemfile
  ruby/plezi/config.ru
  ruby/plezi/config.yaml
Labels: language:ruby
