Repository the-benchmarker/web-frameworks, pull requests merged in 2020-07, with the labels that each got.

#3068 [PHP] SunriseRouter with RoadRunner
  .travis.yml
  README.md
  php/sunrise-router-roadrunner/.rr.yaml
  php/sunrise-router-roadrunner/composer.json
  php/sunrise-router-roadrunner/config.yaml
  php/sunrise-router-roadrunner/worker.php
Labels: language:php

#3077 Add light-4j benchmark test
  .github/CODEOWNERS
  README.md
  java/light-4j/config.yaml
  java/light-4j/pom.xml
  java/light-4j/project/config.json
  java/light-4j/project/openapi.yaml
  java/light-4j/src/main/java/benchmark/light4j/handler/GetHandler.java
  java/light-4j/src/main/java/benchmark/light4j/handler/UserIdGetHandler.java
  java/light-4j/src/main/java/benchmark/light4j/handler/UserPostHandler.java
  java/light-4j/src/main/resources/config/handler.yml
  java/light-4j/src/main/resources/config/server.yml
Labels: language:java

#3095 [Java] Remove maven plugin version
  java/light-4j/pom.xml
Labels: language:java

#3102 [Java] Update light4j to 2.0
  java/light-4j/config.yaml
  java/light-4j/pom.xml
Labels: language:java

#3101 [Java] Upgrade to v11
  java/Dockerfile
  java/blade/pom.xml
  java/config.yaml
  java/javalin/pom.xml
  java/jooby/pom.xml
  java/light-4j/config.yaml
  java/light-4j/pom.xml
  java/rapidoid/pom.xml
  java/spring-boot/pom.xml
  java/spring-framework/config.yaml
  java/spring-framework/pom.xml
  java/struts2/config.yaml
  java/struts2/pom.xml
Labels: language:java

#3104 Update config for simps
  php/simps/config/servers.php
Labels: language:php

#3116 [PHP] Add Bear Framework
  .travis.yml
  php/bearframework/composer.json
  php/bearframework/config.yaml
  php/bearframework/public/index.php
Labels: language:php

#3109 🐦[FSharp] Falco - v2.0.0
  fsharp/falco/Program.fs
  fsharp/falco/web.fsproj
Labels: language:fsharp

#3112 Embedded jetty
  java/struts2/config.yaml
  java/struts2/pom.xml
  java/struts2/src/etc/assembly.xml
  java/struts2/src/main/java/App.java
  java/struts2/src/main/java/org/apache/struts/benchmarker/example/PlainResult.java
  java/struts2/src/main/java/org/apache/struts/benchmarker/example/UserAction.java
  java/struts2/src/main/resources/struts.xml
  java/struts2/src/main/webapp/WEB-INF/index.jsp
  java/struts2/src/main/webapp/WEB-INF/user-id.jsp
  java/struts2/src/main/webapp/WEB-INF/web.xml
Labels: language:java

#3131 [PHP] Add CodeIgniter 4 Framework
  .github/CODEOWNERS
  .travis.yml
  php/Dockerfile
  php/codeigniter4/app/Common.php
  php/codeigniter4/app/Config/App.php
  php/codeigniter4/app/Config/Autoload.php
  php/codeigniter4/app/Config/Boot/development.php
  php/codeigniter4/app/Config/Boot/production.php
  php/codeigniter4/app/Config/Boot/testing.php
  php/codeigniter4/app/Config/Cache.php
  php/codeigniter4/app/Config/Constants.php
  php/codeigniter4/app/Config/ContentSecurityPolicy.php
  php/codeigniter4/app/Config/Database.php
  php/codeigniter4/app/Config/DocTypes.php
  php/codeigniter4/app/Config/Email.php
  php/codeigniter4/app/Config/Encryption.php
  php/codeigniter4/app/Config/Events.php
  php/codeigniter4/app/Config/Exceptions.php
  php/codeigniter4/app/Config/Filters.php
  php/codeigniter4/app/Config/ForeignCharacters.php
  php/codeigniter4/app/Config/Format.php
  php/codeigniter4/app/Config/Honeypot.php
  php/codeigniter4/app/Config/Images.php
  php/codeigniter4/app/Config/Kint.php
  php/codeigniter4/app/Config/Logger.php
  php/codeigniter4/app/Config/Migrations.php
  php/codeigniter4/app/Config/Mimes.php
  php/codeigniter4/app/Config/Modules.php
  php/codeigniter4/app/Config/Pager.php
  php/codeigniter4/app/Config/Paths.php
  php/codeigniter4/app/Config/Routes.php
  php/codeigniter4/app/Config/Services.php
  php/codeigniter4/app/Config/Toolbar.php
  php/codeigniter4/app/Config/UserAgents.php
  php/codeigniter4/app/Config/Validation.php
  php/codeigniter4/app/Config/View.php
  php/codeigniter4/app/Controllers/BaseController.php
  php/codeigniter4/app/Controllers/Home.php
  php/codeigniter4/app/Controllers/User.php
  php/codeigniter4/composer.json
  php/codeigniter4/config.yaml
  php/codeigniter4/public/index.php
Labels: language:php

#3148 [Crystal] update spider-gazelle to v3.3.0
  crystal/spider-gazelle/config.yaml
  crystal/spider-gazelle/shard.yml
Labels: language:crystal

#3161 [Python] Disable logging
  python/aiohttp/server.py
  python/apidaora/server.py
  python/asgineer/server.py
  python/blacksheep/server.py
  python/bottle/server.py
  python/cherrypy/server.py
  python/clastic/server.py
  python/cyclone/server.py
  python/django/app/wsgi.py
  python/emmett/server.py
  python/falcon/server.py
  python/fastapi/server.py
  python/flask/server.py
  python/hug/server.py
  python/klein/server.py
  python/masonite/wsgi.py
  python/molten/server.py
  python/nameko/server.py
  python/pyramid/server.py
  python/quart/server.py
  python/responder/server.py
  python/sanic/server.py
  python/starlette/server.py
  python/tonberry/server.py
  python/tornado/server.py
Labels: language:python

#3181 [Nim] Add Basolato #2691
  .travis.yml
  nim/Dockerfile
  nim/akane/server.nimble
  nim/basolato/.gitignore
  nim/basolato/app/controllers/benchmark_controller.nim
  nim/basolato/config.nims
  nim/basolato/config.yaml
  nim/basolato/server.nim
  nim/basolato/server.nimble
Labels: language:nim
