Repository the-benchmarker/web-frameworks, pull requests merged in 2020-03, with the labels that each got.

#2269 Added aqueduct [dartlang]
  README.md
  dart/Dockerfile
  dart/aqueduct/.gitignore
  dart/aqueduct/config.yaml
  dart/aqueduct/main.dart
  dart/aqueduct/pubspec.yaml
  dart/config.yaml
  python/emmett/config.yaml
Labels: language:dart

#2328 [Javascript]: nanoexpress - Add ENV variables
  javascript/nanoexpress/config.yaml
Labels: language:javascript

#2327 [Javascript]: Add nanoexpress pro
  javascript/Dockerfile
  javascript/nanoexpress-pro/app.js
  javascript/nanoexpress-pro/config.yaml
  javascript/nanoexpress-pro/package.json
Labels: language:javascript

#2336 [Crystal] Remove raze
  crystal/raze/config.yaml
  crystal/raze/shard.yml
  crystal/raze/src/server.cr
Labels: language:crystal

#2337 [Go] Migrate godoc.org to pkg.go.dev
  .travis.yml
  README.md
  dart/aqueduct/main.dart
  go/fasthttp/config.yaml
  go/fasthttprouter/config.yaml
Labels: language:go

#2355 update One to ~2.0
  php/one-fpm/App/index.php
  php/one-fpm/composer.json
  php/one-fpm/config.yaml
  php/one/App/swoole.php
  php/one/composer.json
  php/one/config.yaml
Labels: language:php

#2362 [PHP] Rename zend components to laminas
  .travis.yml
  php/laminas/IndexController.php
  php/laminas/Module.php
  php/laminas/application.config.php
  php/laminas/composer.json
  php/laminas/config.yaml
  php/laminas/config/application.config.php
  php/laminas/config/modules.config.php
  php/laminas/global.php
  php/laminas/module.config.php
  php/laminas/module/Application/config/module.config.php
  php/laminas/module/Application/src/Controller/IndexController.php
  php/laminas/module/Application/src/Module.php
  php/laminas/modules.config.php
  php/laminas/public/index.php
  php/mezzio/composer.json
  php/mezzio/config.yaml
  php/mezzio/config/autoload/dependencies.global.php
  php/mezzio/config/autoload/mezzio.global.php
  php/mezzio/config/config.php
  php/mezzio/config/container.php
  php/mezzio/config/pipeline.php
  php/mezzio/config/routes.php
  php/mezzio/public/index.php
  php/mezzio/src/App/src/Handler/Home.php
  php/mezzio/src/App/src/Handler/User.php
  php/mezzio/src/App/src/Handler/UserId.php
  php/zend-expressive/composer.json
  php/zend-expressive/config.yaml
  php/zend-framework/composer.json
Labels: language:php

#2378 chore(go): upgrade gin to v1.6.0
  README.md
  go/gin/config.yaml
  go/gin/go.mod
Labels: language:go

#2393 [Crystal] Update lucky to 0.19
  crystal/lucky/config.yaml
  crystal/lucky/shard.yml
Labels: language:crystal

#2394 [Crystal] Update orion to 2.3
  crystal/orion/config.yaml
  crystal/orion/shard.yml
Labels: language:nim

#2395 [Nim] Wrong version displayed for httpbeast
  nim/httpbeast/config.yaml
Labels: language:nim

#2403 [Ruby] Introduce rack/app
  .dependabot/config.yml
  .travis.yml
  README.md
  ruby/rack_app/Gemfile
  ruby/rack_app/config.ru
Labels: language:ruby

#2404 Add minimal Rust Actix implementation
  .ci/template.mustache
  .dependabot/config.yml
  .gitignore
  .travis.yml
  README.md
  python/apidaora/config.yaml
  python/cyclone/config.yaml
  python/emmett/config.yaml
  python/masonite/config.yaml
  rust/actix/Cargo.toml
  rust/actix/config.yaml
  rust/actix/src/main.rs
Labels: language:rust

#2414 [Ruby] Missing config for rack/app
  ruby/rack_app/config.yaml
Labels: language:ruby
