Repository the-benchmarker/web-frameworks, pull requests merged in 2020-01, with the labels that each got.

#2101 [Go] Update fasthttp to 1.7.1
  go/fasthttp/go.mod
  go/fasthttprouter/go.mod
  go/gorouter-fasthttp/go.mod
Labels: language:go

#2100 [Perl] Reduce build time
  perl/Dockerfile
Labels: language:perl

#2108 [Nim] Update containers to 1.04
  nim/Dockerfile
Labels: language:nim

#2117 [Crystal] Update spider-gazelle to 2.3
  README.md
  crystal/spider-gazelle/config.yaml
  crystal/spider-gazelle/shard.yml
  swift/perfect/Package.swift
  tools/src/make.cr
Labels: language:crystal

#2125 [Javascript] Update nanoexpress-pro to 1.9
  README.md
  javascript/nanoexpress-pro/config.yaml
  javascript/nanoexpress-pro/package.json
  tools/src/make.cr
Labels: language:javascript

#2137 [Go] Introduce fiber
  .dependabot/config.yml
  .travis.yml
  README.md
  go/fiber/config.yaml
  go/fiber/go.mod
  go/fiber/main.go
  tools/src/make.cr
Labels: language:go

#2152 [Go] Update fiber to 0.6
  .ci/dump.sql
  .ci/template.mustache
  .travis.yml
  go/fiber/config.yaml
  go/fiber/go.mod
  go/fiber/main.go
Labels: language:go

#2154 [Go] Update fasthttp to 1.8.0
  go/fasthttp/config.yaml
  go/fasthttp/go.mod
  go/fasthttprouter/go.mod
  go/gorouter-fasthttp/go.mod
Labels: language:go

#2162 [Javascript] Remove nanoexpress-pro
  .dependabot/config.yml
  .travis.yml
  README.md
  javascript/nanoexpress-pro/app.js
  javascript/nanoexpress-pro/config.yaml
  javascript/nanoexpress-pro/package.json
Labels: language:javascript

#2195 [Go] Update fiber to 1.0
  README.md
  README.mustache.md
  go/fiber/config.yaml
  go/fiber/go.mod
  tools/src/db.cr
Labels: language:go

#2211 [Python] Remove bocadillo
  .dependabot/config.yml
  .travis.yml
  README.md
  python/bocadillo/config.yaml
  python/bocadillo/requirements.txt
  python/bocadillo/server.py
Labels: language:python
