Repository the-benchmarker/web-frameworks, pull requests merged in 2020-11, with the labels that each got.

#3391 Add R/Rserve
  r/rserve/DESCRIPTION
  r/rserve/app.R
  r/rserve/config.yaml
Labels: language:r

#3228 [Python] Add django-ninja
  python/django-ninja/app/__init__.py
  python/django-ninja/app/asgi.py
  python/django-ninja/app/urls.py
  python/django-ninja/app/views.py
  python/django-ninja/config.yaml
  python/django-ninja/requirements.txt
  python/django-ninja/settings.py
Labels: language:python

#3457 [PHP] Update phalcon to 4.1
  .github/CODEOWNERS
  php/phalcon/composer.json
  php/phalcon/config.yaml
Labels: language:php

#3461 [java] Add RESTHeart
  .semaphore/semaphore.yml
  java/restheart/.gitignore
  java/restheart/config.yaml
  java/restheart/pom.xml
  java/restheart/restheart.yml
  java/restheart/src/main/java/benchmark/restheart/RootService.java
  java/restheart/src/main/java/benchmark/restheart/UserService.java
Labels: language:java

#3460 [PHP] Update ice to v1.7.0
  .github/CODEOWNERS
  php/ice/composer.json
  php/ice/config.yaml
Labels: language:php

#3472 [FSharp] Update Frank to 6.2.0
  fsharp/frank/config.yaml
  fsharp/frank/web.fsproj
Labels: language:fsharp
