Repository the-benchmarker/web-frameworks, pull requests merged in 2020-08, with the labels that each got.

#3209 [Javascript] Upgrade node to v14.7
  javascript/Dockerfile
  javascript/config.yaml
Labels: language:javascript

#3207 [Javascript] Remove nanoexpress-pro
  .travis.yml
  javascript/nanoexpress-pro/app.js
  javascript/nanoexpress-pro/config.yaml
  javascript/nanoexpress-pro/package.json
Labels: language:javascript

#3210 [Javascript] Allow major upgrade for node
  renovate.json
Labels: language:javascript

#3178 📦 Bump Fiber v1.13.3
  go/fiber/config.yaml
  go/fiber/go.mod
  go/fiber/main.go
Labels: language:go

#3231 chubbyphp-workerman
  .github/CODEOWNERS
  .travis.yml
  php/chubbyphp-workerman/composer.json
  php/chubbyphp-workerman/config.yaml
  php/chubbyphp-workerman/public/index.php
Labels: language:php

#3234 [Nim] update basolato
  nim/basolato/server.nimble
Labels: language:nim

#3242 [Python] Add index.py
  .travis.yml
  python/index.py/config.yaml
  python/index.py/requirements.txt
  python/index.py/server.py
Labels: language:python

#3274 [Crystal] Update runcobo to 1.0
  crystal/runcobo/config.yaml
  crystal/runcobo/src/server.cr
Labels: language:crystal

#3271 [Crystal] Update shivneri to 0.16
  crystal/shivneri/config.yaml
  crystal/shivneri/shard.yml
Labels: language:crystal

#3255 [R] Add restrserve
  .travis.yml
  r/Dockerfile
  r/config.yaml
  r/restrserve/DESCRIPTION
  r/restrserve/app.R
  r/restrserve/config.yaml
Labels: language:r

#3272 [Java/Kotlin] Remove AggressiveOpts
  java/javalin/config.yaml
  java/jooby/config.yaml
  java/rapidoid/config.yaml
  java/spring-framework/config.yaml
  java/struts2/config.yaml
  kotlin/Dockerfile
Labels: language:java, language:kotlin

#3269 [Kotlin] Upgrade ktor to v1.4
  kotlin/config.yaml
  kotlin/kooby/build.gradle
  kotlin/ktor/build.gradle
  kotlin/ktor/config.yaml
Labels: language:kotlin

#3051 [Crystal] Disable logging
  crystal/amber/config/application.cr
  crystal/amber/config/logger.cr
  crystal/lucky/config/log.cr
  crystal/router.cr/src/server.cr
  crystal/runcobo/config.yaml
  crystal/shivneri/src/server.cr
  crystal/spider-gazelle/src/config.cr
Labels: language:crystal
