Repository the-benchmarker/web-frameworks, pull requests merged in 2020-09, with the labels that each got.

#3270 [Go] Remove fasthttprouter
  .travis.yml
  go/fasthttprouter/config.yaml
  go/fasthttprouter/go.mod
  go/fasthttprouter/main.go
Labels: language:go

#3276 [Crystal] Update grip to v1.0
  crystal/grip/config.yaml
  crystal/grip/shard.yml
  crystal/grip/src/server.cr
Labels: language:crystal

#3054 [Java] Disable logging
  java/act/src/main/resources/logback.xml
  java/javalin/pom.xml
  java/jooby/pom.xml
  java/rapidoid/pom.xml
  java/spring-boot/src/main/resources/application.properties
  java/spring-framework/src/main/resources/application.properties
  java/struts2/src/main/resources/log4j2.xml
  kotlin/kooby/build.gradle
Labels: language:java

#3334 Add R `plumber` and `httpuv`
  .travis.yml
  r/httpuv/DESCRIPTION
  r/httpuv/app.R
  r/httpuv/config.yaml
  r/plumber/DESCRIPTION
  r/plumber/app.R
  r/plumber/config.yaml
  r/plumber/plumber.R
Labels: language:r

#3257 [Perl] Specify version for dancer2
  perl/dancer2/config.yaml
  perl/dancer2/cpanfile
Labels: language:perl

#3340 [Go] Update fiber to v2.0.2
  go/Dockerfile
  go/fiber/config.yaml
  go/fiber/go.mod
  go/fiber/main.go
Labels: language:go
